# Ignore environment variables (SANGAT PENTING)
.env
**/.env

# Ignore temporary files/images
**/temp_images/*
!**/temp_images/.gitkeep

# Ignore data database & logs
**/data/
**/mysql/
**/letsencrypt/
core/nginx-proxy/data/
core/nginx-proxy/letsencrypt/

# Ignore OS junk
.DS_Store
Thumbs.db
